<h3>Modificar pelicula</h3>
<form (ngSubmit)="guardarCambios()" #peliculasForm="ngForm">
<div class="row">
  <div class="form-group">
    <label>Titulo:</label>
    <input type="text" class= "form-control" name="titulo" [(ngModel)]="pelicula.titulo" 
    required #spy #titulo="ngModel">
    {{spy.className}}
  </div>
  <div [hidden]="titulo.valid || titulo.pristine" class="alert alert-danger col-2">
    El titulo es obligatorio
  </div>
  <div class="form-group">
      <label>Genero:</label>
      <input type="text" class= "form-control" name="genero" [(ngModel)]="pelicula.genero">
    </div>
</div>
<div class="row">
    <div class="form-group">
      <label>Director:</label>
      <input type="text" class= "form-control" name="director" [(ngModel)]="pelicula.director">
    </div>
  </div>
  <div class="row button">
    <button class="btn btn-primary mr-20" type="submit" [disabled]="!peliculasForm.form.valid">Aceptar</button>
    <button class="btn btn-primary" (click)="cancelarEdicion()">Cancelar</button>
  </div>
</form>
